html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#desktop-view {
  display: none;
  text-align: center;
  margin-top: 50px;
}

#qr-code {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.gif-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 999;
}


#mobile-view {
  display: none;
  width: 100%; /* Use viewport width */
  height: 100%; /* Use viewport height */
  background: url('./4.webp') no-repeat center center; /* Updated background */
  background-size: cover;
  position: relative;
}


.progress-bar {
  display: block;
  width: 100%;
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.update-bar {
  background-color: #4285f4;
  width: 0%;
  height: 100%;
  transition: width 0.3s;
}

/* Media queries to control visibility */
@media (min-width: 768px) {
  #desktop-view {
    display: block;
  }

  #mobile-view {
    display: none;
  }
}

@media (max-width: 767px) {
  #desktop-view {
    display: none;
  }

  #mobile-view {
    display: block;
  }
}
